.jacket-unisex-running{
    display: flex;
    gap: 25px;
    align-items: center;
}

.text-on-image{
    position: absolute;
    top: 20%;
    left: 24%;
    color: white;
  }

.text-on-image-running-jacket{
    position: absolute;
    top: 20%;
    left: 8%;
    color: white;
}

.text-on-image-running-jacket .shop-now{
    margin: 0 0;
}

.shop-now{
    background-color: rgba(5, 30, 170, 0.884);
    color: white;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    padding: 10px 25px;
    margin: 0 20px;
}